*{
    
    box-sizing: border-box;
    
}

body{
    font-size: 20px;
}

header{
    height: 15vh;
    background-image: url(../img/pattern.png);
    background-size: auto 200px;
    background-color: rgb(87, 175, 247);
    position: relative;
}

header img{
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 5px;
}

h1{
    font-weight: bold;
    font-size: 45px;
}

.autore, .data, .video-correlati{
    color: rgb(104, 104, 104);
}

.autore{
    font-size: 25px;
    font-weight: bold;
}



.page-name{
    color: rgb(87, 175, 247);
}

figure{
    margin-left: 0;
}

figcaption , .data{
    font-size: 16px;
}

ul{
 padding: 0;
 margin-left: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}

.w-25{
    width: 25%;
}

.w-50{
   width: 50%;
}

thead{
    background-color:  rgb(87, 175, 247);
    color: #ffffff;
    text-align: left;
    white-space: nowrap;
}

.odd{
    background-color:  rgb(191, 221, 245);;
}

h2{
    font-size: 20px;
    font-weight: bold;
}.

.player{
    float: left;
}

.immagine{
    position: relative;
}

.titolo{
    position: absolute;
    left: 10px;
    top: 5%;
    color: white;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    
}

main, footer{
    padding-left: 10px;
}
